<!DOCTYPE html>
<html>
<head>
	<title>Intro to Angular - Services Example</title>
</head>
<body>
<div ng-app="MyApp">
	<div ng-controller="MyCtrl">
		<strong>myService.myValue: </strong>
		<input ng-model="myService.myValue"/>
		<em> {{myService.myValue}}</em>
	</div>
	<div ng-controller="MyCtrl">
		<strong>myService.myValue: </strong>
		<input ng-model="myService.myValue"/>
		<em> {{myService.myValue}}</em>
	</div>
</div>
<script type="text/javascript" src="../../lib/angular.min.js"></script>
<script type="text/javascript">
	angular.module('MyApp', []).service('myService', function () {
		return {
			myValue: 'Service value'
		};
	});

	function MyCtrl($scope, myService) {
		$scope.myService = myService;
	}
</script>
</body>
</html>